/* GLOBAL SWITCH TO BOARDER-BOX, TEXT-ALIGN CENTER AND THE CLEARFIX */

* {
    box-sizing: border-box;
    text-align: center;
  }

  .cf{
    clear: both;
    overflow: auto;
  }

h1, h2{
      color: white;
      width: 100%;
      border-bottom: 3px solid black;
      margin: 0px;
      padding: 0px;
  }


.row{
    height: 800px;
}

.col-4{
    align-content: center;
}

.attackBtn{
      position: relative;
      top: 50%;
 
  }

.playerZone, defenderZone{
      height: 310px;
  }


.SWOptions {
border: 2px solid black;
background-color: black;
height: auto;
float: left;
align-content: center;

}

.SWBattleground {
border: 2px solid black;
background-color: gray;
height: auto;
float: left;
align-content: center;
}

.SWDefeated {
    border: 2px solid black;
background-color: red;
height: auto;
float: left;
align-content: center;
}

header{
    text-align: center;
}

body{
    background-color: black;
    margin: 0px;
}

.card{
    width: 150px;
    height: 300px;
    margin: 10px;
    margin-left: 25px;
    float: left; /* flip to none on Battlefield */
    margin-bottom: 10px; 
}

.LukeCard2, 
.ObiCard2, 
.StormCard2, 
.VaderCard2 {
    width: 150px;
    height: 300px;
    margin: 10px;
    margin-left: 25px;
    float: left; /* flip to none on Battlefield */
    margin-bottom: 10px;
}

playerZone{
    float: none;
}

.card:hover{
    background-color: green;
}

.card-title{
    padding: 0px;
    text-align: center;
    width: 100%;
}

.card-body{
    background-color: green;
}

.card-img-top{
    border: 5px solid green;
}

.LukeBanner{
        background-color: yellow;
        color: black;
}

.ObiBanner{
    background-color: brown;
    color: white;
}

.VaderBanner{
    background-color: black;
    color: red;
}

.StormBanner{
    background-color: white;
    color: black;
}

.card-body{
    padding: 5px;
    height: 50px;
}

.card-img-overlay{
    position: absolute;
    padding: 0px;
    top: 25%;
}

img{
    height: 220px;
    width: 30;
}

.card-img-top{
    padding: 3px;
}



