/* GLOBAL sWITCH TO BOARDER-BOX, TEXT-ALIGN CENTER AND THE CLEARFIX */

* {
    box-sizing: border-box;
    text-align: center;
  }

  .cf{
    clear: both;
    overflow: auto;
  }

h1{
      color: #adcdf9;
      width: 100%;
      border-bottom: 3px solid black;
      margin: 0px;
      padding: 0px;
  }

h2{
    color: yellow;
    width: 100%;
    border-bottom: 3px solid black;
    margin: 0px;
    padding: 0px;
}

h3{
    color: white;
}


.row{
    height: 800px;
}

.col-4{
    align-content: center;
}

.attackBtn{
      position: relative;
      top: 50%;
 
  }

.playerZone, defenderZone{
      height: 310px;
  }


.sWOptions {
border: 2px solid green;
height: auto;
float: left;
align-content: center;

}

.sWBattleground {
border: 2px solid grey;
height: auto;
float: none;
align-content: center;
}

.sWDefeated {
border: 2px solid red;
height: auto;
float: left;
align-content: center;
}

header{
    text-align: center;
}

body{
    background-image: url(../images/deathstarbackground.png);
    background-size: cover;
    background-color: black;
    margin: 0px;
}

.card{
    width: 140px;
    height: 220px;
    margin: 10px;
    margin-left: 25px;
    float: left; /* flip to none on Battlefield */
    margin-bottom: 3px; 
    padding: 0px;
}

img{
    height: 150px;
    width: auto;
}

.card-img-top{
    padding: 3px;
    height: 165px;
}

.card-title{
    padding: 0px;
    text-align: center;
    width: 100%;
    margin: 0;
}

.card-body{
    background-color: green;
    color: white;
    padding: 2px;
    height: 40px;
    
}

.lukeCard2, 
.obiCard2, 
.stormCard2, 
.vaderCard2,
.lukeCardOpp,
.obiCardOpp,
.stormCardOpp,
.vaderCardOpp
 {
    /* width: 150px;
    height: 300px; */
    margin: 10px;
    margin-left: 100px;
    float: none; 
}

.playerZone{
    float: none;
    height: auto;
}

.card:hover{
    background-color: blue;
}

.player-body{
    background-color: green;
}

.lukeBanner{
        background-color: yellow;
        color: black;
}

.obiBanner{
    background-color: brown;
    color: white;
}

.vaderBanner{
    background-color: black;
    color: red;
}

.stormBanner{
    background-color: white;
    color: black;
}

/* .card-img-overlay{
    position: absolute;
    padding: 0px;
    top: 25%;
} */

.restartBtn{
    margin-top: 20%;
    background-image: URL("../images/crossedsabers.jpg");
    background-size: 400px 200px;
    width: 100%;
    height: 210px;
    z-index: 1000;
    border: 10px solid green;
    font-size: 30pt;
    color: blue;
}

.restartBtn:hover{
    color: red;
}

.PA{
    color: lightgreen;
}

.OA{
    color: purple;   
}


