/* GLOBAL sWITCH TO BOARDER-BOX, TEXT-ALIGN CENTER AND THE CLEARFIX */

* {
    box-sizing: border-box;
    text-align: center;
  }

  .cf{
    clear: both;
    overflow: auto;
  }

h1, h2{
      color: white;
      width: 100%;
      border-bottom: 3px solid black;
      margin: 0px;
      padding: 0px;
  }


.row{
    height: 800px;
}

.col-4{
    align-content: center;
}

.attackBtn{
      position: relative;
      top: 50%;
 
  }

.playerZone, defenderZone{
      height: 310px;
  }


.sWOptions {
border: 2px solid black;
background-color: black;
height: auto;
float: left;
align-content: center;

}

.sWBattleground {
border: 2px solid black;
background-color: gray;
height: auto;
float: left;
align-content: center;
}

.sWDefeated {
    border: 2px solid black;
background-color: red;
height: auto;
float: left;
align-content: center;
}

header{
    text-align: center;
}

body{
    background-color: black;
    margin: 0px;
}

.card{
    width: 165px;
    /* height: 300px; */
    margin: 10px;
    margin-left: 25px;
    float: left; /* flip to none on Battlefield */
    margin-bottom: 3px; 
    padding: 0px;
}

.lukeCard2, 
.obiCard2, 
.stormCard2, 
.vaderCard2 {
    /* width: 150px;
    height: 300px; */
    margin: 10px;
    margin-left: 25px;
    float: left; /* flip to none on Battlefield */
    
}

.playerZone{
    float: none;
    height: auto;
}

.card:hover{
    background-color: blue;
}

.card-title{
    padding: 0px;
    text-align: center;
    width: 100%;
}

.card-body{
    background-color: green;
    color: white;
    padding: 5px;
    
}

.player-body{
    background-color: green;
}

.lukeBanner{
        background-color: yellow;
        color: black;
}

.obiBanner{
    background-color: brown;
    color: white;
}

.vaderBanner{
    background-color: black;
    color: red;
}

.stormBanner{
    background-color: white;
    color: black;
}

.card-img-overlay{
    position: absolute;
    padding: 0px;
    top: 25%;
}

img{
    height: 200px;
    width: 30;
}

.card-img-top{
    padding: 3px;
    height: 200px;
}

.restartBtn{
    position: absolute;
    top: 0;
    left: -100px;
    background-image: URL("../images/crossedsabers.jpg");
    background-size: 600px 400px;
    width: 600px;
    height: 400px;
    z-index: 1000;
    border: 10px solid green;
    font-size: 50pt;
    color: red;
}

.restartBtn:hover{
    color: blue;
}



